*{
    border: 0px;
    box-sizing: border-box;
}
#firstpg{
    background-color: rgba(0, 0,0, 4);
    width: 100%;
    height: 100vh;
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/ca6a7616-0acb-4bc5-be25-c4deef0419a7/c5af601a-6657-4531-8f82-22e629a3795e/IN-en-20231211-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}
.bgimg{

    
}
.container{
    display: flex;
    
    flex-direction: row;
    gap: 30px;
    width: 100%;
    align-items: center;
}
#title1{

    color:rgb(229,9,20);
    font-size: xx-large;
    margin-left: 100px;
}
#sle{
    width: 120px;
    height: 4vh;
    padding-left: 40px;
    color: white;
    border:0px black;
    box-shadow: 1px 1px 1px 1px rgb(0,0,0,2);
background: rgba(0, 0, 0, 0.9);    
}
.opt{
    color: black;
    background: white;
} 
#title2{

    margin-right: 50vw;
}
#sle option:hover{
    background: blue;

}
#sign{
    background:red;
    color: white;
    width: 80px;
    height: 4vh;
    border-radius: 3px;
    border: 0px;
}
.text{
    padding-top: 250px;
    color: white;
    flex-direction: column;
    display: flex;
    justify-items: center;
    gap: 20px;
    align-items: center;
}
body{
    background-color: #000;
}
.text1{
    font-size: 45px;
}
.text2{
    font-size: larger;
}
hr{
    border: 4px solid rgba(200,200,200,0.2);
    
}
.tex3{
    font-size: larger;
}
.text4{
    display: flex;
    gap: 10px;
}
#text2{
    width: 300px;
    height: 60px;
    background: transparent;
    border: 1px solid green;
    border-radius: 4px;
}
#text1{
    width: 200px;
    height: 60px;

    background:rgba(229,9,20,1);
    font-size: x-large;
    border: 0px;
    color: white;
    border-radius: 4px;
}
#secondpg{
   
    width: 100%;
    height: 80vh;
    background: #000;
    display: flex;
}

.pg1{
color: white;
width: 50%;
}
.p1{
    font-size: 50px;
    padding-left: 200px;
    margin-top: 220px;
}
.p2{
    font-size: x-large;
    padding-left: 200px;
}
#thirdpg{
    width: 100%;
    height: 80vh;
    padding-left: 80px;
    background: #000;
    color: white;
}
.pg{
    display: flex;
    justify-items: center;
    align-items: center;
}
#tpg2{
    width: 45vw;
}
.tp1{
    font-size: 50px;

}
.tp2
{
font-size: xx-large;
}
#img3{
    margin-top: 5px;
    margin-left: -375px;
}
#anim{
    margin-top: -140px;
    position: relative;
    margin-left: 8vw;
    padding-left: 25vw;
    width: 0px;
    background: #000;
    height: 15vh;
    border-radius: 10px;
    border: 1px solid white;
}
.four{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#i3{
    margin-top: -85px;
    font-size: larger;
    
    margin-left: -250px;
}
#i4{
    margin-left: -250px;
    color:rgba(0,0, 200, 5);
    margin-top: -15px;
}
.fpg1{
    width: 30vw;
}
.fp1{
    font:bold;
    font-size: 50px;
}
.fp2{
    font-size: x-large;
}
#m1{
    width: 100%;
    height: 80vh;
}

.kanha{
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.mc2{
    width: 40vw;
}
.md2{
    width: 40vw;
}
.k1{
    font-size: 55px;
    font: bold;
}
.k2{
    font-size: x-large;
}
.l1{

display: flex;
margin-left: 260px;
}
     
.l2{
    margin-top: 20px;
    margin-left: 260px;
    display: flex;
}

.l3{
    margin-top: 20px;
    margin-left: 260px;
display: flex;
}
a{
    color: white;
}
.l4{
    margin-top: 20px;
    margin-left: 260px;
display: flex;
}
#i1{
margin-left: 200px;
}
#med{
    display: flex;
    gap: 10px;
    justify-content: center;
    color: white;
    font-size: xx-large;
    align-items: center;
    height: 110vh;

}
.mc{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
.md2{
    width: 70vw;
    padding: 20px;
    height: 70px;
    background-color: rgba(100, 100, 100, 0.4);
}
.md2:hover{
    background-color:rgba(100, 100, 100, 0.8);;
}
.md3{
    width: 70vw;
    padding: 20px;
    height: 70px;
    background-color: rgba(100, 100, 100, 0.4);
}
.md3:hover{
    background-color:rgba(100, 100, 100, 0.8);;
}
.md4{
    width: 70vw;
    padding: 20px;
    height: 70px;
    background-color: rgba(100, 100, 100, 0.4);
}
.md4:hover{
    background-color:rgba(100, 100, 100, 0.8);;
}
.md5{
    width: 70vw;
    padding: 20px;
    height: 70px;
    background-color: rgba(100, 100, 100, 0.4);
}
.md5:hover{
    background-color:rgba(100, 100, 100, 0.8);;
}
.md6{
    width: 70vw;
    padding: 20px;
    height: 70px;
    background-color: rgba(100, 100, 100, 0.4);
}
.md6:hover{
    background-color:rgba(100, 100, 100, 0.8);;
}
.md7{
    width: 70vw;
    padding: 20px;
    height: 70px;
    background-color: rgba(100, 100, 100, 0.4);
}
.md7:hover{
    background-color:rgba(100, 100, 100, 0.8);;
}

.md8{
    margin-top: 30px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}
.md9 input{
    width: 20vw;
    height: 8vh;
    background-color: rgba(50,50,50,0.5);
}
.md1{
    margin-left:290px ;
    height:70px ;
}
#tiger{
    font-size: x-large;
    background: red;
    margin-top:40px ;
    width: 220px;
    color: white;
}
#e2{
    padding-left: 200px;
    padding-right: 200px;
}
#e4{
    padding-left:200px ;
}
#e6{
    padding-left: 195px;
}

#e7{
    padding-left: 158px;

}
#e8{
    padding-left: 190px;

}
#f2{
    padding-left: 175px;

}
#f3{
    padding-left: 150px;

}
#f4{
    padding-left: 217px;

}
#f6{
    padding-left: 150px;
}
#f7{
    padding-left: 193px;
}

.icon option:hover{
    background-color: blue;

}


